<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>converted form LAS data</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="/static/lib/leaflet.css" />
  <link rel="stylesheet" href="/static/index.css" />
</head>

<body>
  <div id="pcd-map" class="pcd-map"></div>
  <div id="widearea-map" class="widearea-map"></div>
  <div id="output-container">
    lon: <input id="move-map-lon" type="text" />
    lat: <input id="move-map-lat" type="text" />
    <button id="move-map">move map</button>
    <button id="copy-polyline">Copy Polyline -->></button>
    <button id="generate-alignment-def">Get Alignment Definition File</button>
  </div>
  </div>
  <script src="/static/lib/leaflet.js"></script>
  <script src="/static/lib/Leaflet.Path.Drag.js"></script>
  <script src="/static/lib/Leaflet.Editable.js"></script>
  <script>
    var pcdMap = L.map('pcd-map', {
      crs: L.CRS.Simple,
      minZoom: -10,
      maxZoom: 20,
      zoomControl: false,
      doubleClickZoom: false,
      editable: true,
      editOptions: {
        skipMiddleMarkers: false
      }
    });

    var prodId = '{{ var.id }}';
    var polyline;
    fetch(`/product/${prodId}/area`).then(req=>req.json())
      .then(data => {
        var overlayMaps = {};
        data.forEach(d => {
          var localBounds = [
            [d.range_y[0], d.range_x[0]],
            [d.range_y[1], d.range_x[1]],
          ];
          var image = L.imageOverlay(`/product/${prodId}/pcdimg/${d.path}`, localBounds).addTo(pcdMap);
          overlayMaps[d.path] = image;
        });
        var globalBounds = [
          [Math.min.apply(null, data.map(d => d.range_y[0])), Math.min.apply(null, data.map(d => d.range_x[0]))],
          [Math.max.apply(null, data.map(d => d.range_y[1])), Math.max.apply(null, data.map(d => d.range_x[1]))],
        ];
        pcdMap.fitBounds(globalBounds);
        L.control.layers(null, overlayMaps).addTo(pcdMap);

        if (data.length > 3) {
          // calculate traveling matrix
          var trav_mat = [];
          data.forEach((d, i) => trav_mat[i] = []);
          for (i = 0; i < data.length; i++) {
            for (j = i; j < data.length; j++) {
              if (i == j) {
                trav_mat[i][j] = 0;
              } else {
                var coord_i = [
                  (data[i].range_y[0] + data[i].range_y[1]) / 2,
                  (data[i].range_x[0] + data[i].range_x[1]) / 2
                ];
                var coord_j = [
                  (data[j].range_y[0] + data[j].range_y[1]) / 2,
                  (data[j].range_x[0] + data[j].range_x[1]) / 2
                ];
                trav_mat[i][j] = trav_mat[j][i] = Math.sqrt(
                  Math.pow(coord_i[0] - coord_j[0], 2) +
                  Math.pow(coord_i[1] - coord_j[1], 2)
                );
              }
            }
          }
          // console.log(trav_mat);

          // ナイーブな経路探索 (TODO DP-TSP等に置き換える)
          var used = data.map(d => false);
          var route = [];
          var current = 0;
          used[current] = true;
          while (!used.reduce((p, d) => p && d)) {
            var distances = trav_mat[current].map((d, i) => [i, d]);
            distances.sort((a, b) => a[1] > b[1] ? 1 : -1);
            for (j = 1; j < data.length; j++) {
              var next = distances[j][0];
              if (used[next]) continue;
              route.push(next);
              used[next] = true;
              current = next;
            }
          }
          route = [
            route[0],
            route[parseInt(route.length/2, 10)],
            route[route.length-1]
          ];
          // route = route.filter((d, i) => i % 3 == 0);
          polyline = L.polyline(route.map(i => data[i]).map(d => [
            (d.range_y[0] + d.range_y[1]) / 2,
            (d.range_x[0] + d.range_x[1]) / 2
          ]));

        } else {
          var points = [];
          points.push([data[0].range_y[0], data[0].range_x[0]]);
          points.push([data[0].range_y[1], data[0].range_x[0]]);
          points.push([data[0].range_y[1], data[0].range_x[1]]);
          polyline = L.polyline(points);
        }

        // console.log(polyline);
        // draw polyline
        polyline.addTo(pcdMap);
        polyline.enableEdit();

        // 初期位置をデータの配置箇所にする
        pcdMap.setView([data[0].range_y[0], data[0].range_x[0]]);
      });

    L.control.zoom({
      position: 'topright'
    }).addTo(pcdMap);


    var osmUrl = 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
    var osmOption = {
      maxNativeZoom: 18,
      maxZoom: 20,
      attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    };
    var osmMap = L.tileLayer(osmUrl, osmOption);
    var gsiPhotoUrl = 'https://cyberjapandata.gsi.go.jp/xyz/ort/{z}/{x}/{y}.jpg';
    var gsiPhotoOption = {
      maxNativeZoom: 18,
      maxZoom: 20,
      attribution: '&copy; 国土地理院 電子国土基本図（オルソ画像）'
    }
    var gsiPhotoMap = L.tileLayer(gsiPhotoUrl, gsiPhotoOption);

    var layers = [osmMap, gsiPhotoMap];

    var wideAreaMap = L.map('widearea-map', {
      layers: layers,
      zoom: 14,
      minZoom: 8,
      maxZoom: 20,
      center: [34.828681528243, 137.81169569525],
      zoomControl: false,
      editable: true,
      editOptions: {
        skipMiddleMarkers: true
      }
    });
    L.control.zoom({
      position: 'topright'
    }).addTo(wideAreaMap);

    var baseMaps = {
      "Open Street Map": osmMap
    };
    var overlayMaps = {
      "電子国土基本図（オルソ画像）": gsiPhotoMap
    };
    L.control.layers(baseMaps, overlayMaps).addTo(wideAreaMap);

    fetch(`/product/${prodId}/info`).then(req=>req.json())
      .then(data => {
        if (data.area_locations && data.area_locations.length > 0) {
          const bound = data.area_locations[0];
          wideAreaMap.fitBounds([
            [bound.northern_lat, bound.eastern_lon],
            [bound.southern_lat, bound.western_lon]
          ]);
        }
        else if(data.point_locations && data.point_locations.length > 0) {
          wideAreaMap.setView(data.point_locations[0]);
        }
      });

    var projectedPolyline = null;
    document.querySelector('#copy-polyline').addEventListener('click', e => {
      // TODO 変換する
      // 左側の表示座標範囲を取得する
      var pcdBounds = pcdMap.getBounds();
      // 右側の表示座標範囲を取得する
      var wideAreaBounds = wideAreaMap.getBounds();
      // 表示されている点を基準に、表示座標範囲同士を用いて左から右へ線形射影する
      var pcdMag = [
        pcdBounds._northEast.lat - pcdBounds._southWest.lat, pcdBounds._northEast.lng - pcdBounds._southWest.lng
      ];
      var pcdOffset = [
        pcdBounds._northEast.lat, pcdBounds._northEast.lng
      ];
      var wideAreaMag = [
        wideAreaBounds._northEast.lat - wideAreaBounds._southWest.lat, wideAreaBounds._northEast.lng -
        wideAreaBounds._southWest.lng
      ];
      var wideAreaOffset = [
        wideAreaBounds._northEast.lat, wideAreaBounds._northEast.lng
      ];
      if (projectedPolyline) {
        // 描画済みのものを消す
        projectedPolyline.remove();
      }
      projectedPolyline = L.polyline(polyline._latlngs.map(d => [
        (d.lat - pcdOffset[0]) / pcdMag[0] * wideAreaMag[0] + wideAreaOffset[0],
        (d.lng - pcdOffset[1]) / pcdMag[1] * wideAreaMag[1] + wideAreaOffset[1]
      ]));
      projectedPolyline.addTo(wideAreaMap);
      projectedPolyline.enableEdit();
      // 線形補間した座標を右側に表示する
    });

    // 対応座標ペア群ファイル pointmap.json を書き出す
    document.querySelector('#generate-alignment-def').addEventListener('click', e => {
      var xyPoints = polyline._latlngs.map(d => [d.lng, d.lat]);
      var lonlatPoints = projectedPolyline._latlngs.map(d => [d.lng, d.lat]);

      var output = {
        name: prodId,
        xy: xyPoints,
        lonlat: lonlatPoints,
      };

      var blob = new Blob([JSON.stringify(output, null, '  ')], {
        type: 'application\/json'
      });
      var url = URL.createObjectURL(blob);
      var link = document.createElement('a');
      link.href = url;
      link.download = 'pointmap.json';
      link.click();
      URL.revokeObjectURL(url);

    });
    // 指定された緯度経度に右の地図を移動する
    document.querySelector('#move-map').addEventListener('click', e => {
      var lon = document.querySelector('#move-map-lon').value;
      var lat = document.querySelector('#move-map-lat').value;
      console.log(lon, lat);
      wideAreaMap.setView([lat, lon]);
    });
  </script>
  <!--<img src="thumbnail.png" class="map_thumbnail">-->
</body>

</html>